:root{
    --main-color:#ffa500;
    --sec-color:#f9f9f9;
}
/* constant */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* constant */
body{
    font-family: "Roboto", sans-serif;
}
.title{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.title h1{
text-shadow: 0px 1px 1px black;
}
.title span{
    color: var(--main-color);
}
.btn{
    background-color: var(--main-color);
    color: white;
    transition: .3s;
}
.btn:hover{
    background-color: var(--main-color);
    color: white;
    border: var(--main-color);
}
/* nav */
nav{
height: 85px;
font-size: 16px;
font-weight: 550;
}
.navbar .navbar-brand{
font-size: 36px;
font-weight: 550;
text-shadow: 0px 1px 1px black;
}
.navbar .navbar-brand span{
color: var(--main-color);
}
.navbar-toggler span{
    color: var(--main-color);
    border: none;
}
.navbar ul{
    color: black;
}
.navbar .li{

}
.navbar .li:hover{
    color: white;
    background-color: var(--main-color);
}
.navbar .li a{
    color: black;
}
.btn-outline-success{
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}
/* nav */
/* home */
.home{
    width: 100%;
    height: calc(100vh - 85px);
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(/images/about-img.png);
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
    color: white;
}
.home .content h3{
font-size: 38px;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
font-size: 70px;
    text-shadow: 0px 1px 1px black;
}
.home .content span{
    color: var(--main-color);
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "France";}
    10%{content: "Spain";}
    20%{content: "United States";}
    30%{content: "China";}
    40%{content: "India";}
    50%{content: "Pakistan";}
    60%{content: "Italy";}
    70%{content: "Turkey";}
    80%{content: "Mexico";}
    90%{content: "Germany";}
    100%{content: "United kingdom";}
} 
.home .content p{
    font-weight: bold;
        text-shadow: 0px 1px 1px black;
}
.home .content a{
    background-color: white;
    color: black;
    font-size: medium;
    font-weight: normal;
    text-shadow: 0px 1px 1px black;
}
.home .content a:hover{
    background-color: var(--main-color);
    color: white;
}
/* home*/
/* book */
.book{
    background-color:var(--sec-color);
}
.book .books{
gap: 20px;
}
.book .books div{
    background-color: white;
    box-shadow: 0px 5px 5px -6px black;
    border-radius: 10px;
    margin-bottom: 15px;
    border: white;
}
.book form{

}
.book input{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
    margin-bottom: 37px;
    border: 1px solid white;
    height: 35px;
    padding-left: 12px;
}
.books textarea{
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
}
.book .submit{
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 5px 9px -5px black;
    width: 160px;
    font-size: 16px;
    font-weight: 550;
}

/* book */
/* packages */
.packages{
    
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 25px;
}
.card{
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    background-color: white;
}
.packages img{
    border-radius: 6px;
}
.card-body{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.checked{
    color: var(--main-color);
}
/* packages */
/* ser */
.services{
    background-color: var(--sec-color);
}
.services .box-container svg{
    color: var(--main-color);
    font-size: 80px;
}
.services .card{
    padding-top: 15px;
    padding-bottom: 15px;
}
.services p{
    font-weight: normal;
}
/* ser */
/* Gallary */
.Gallary{

}
.Gallary .card{
    border-radius: 10px;
}
.Gallary img{
    border-radius: 10px;
    transition: .5s;
    
}
.Gallary img:hover{
    transform: scale(1.1);
}
/* Gallary */
/* us */
.us{

}
.us .holder{
gap: 25px;
grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
}
.us .holder img{
    border-radius: 10px;
}
.us a{
    transition: .3s;
}
.us a:hover{
    padding-left: 25px;
    padding-right: 30px;
}
/* us */
/* footer */
footer{

}
footer svg{
background-color: black;
    padding: 9px;
    height: 54px;
    color: white;
    font-size: 20px;
    transition: .5s;
    height: 200px;
    border-radius: 6px;
    margin-left: 15px;
    margin-bottom: 15px;
}
footer svg:hover{
background-color: var(--main-color);
color: white;
}
/* footer */